@model BlogCategoriesViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Blog.User" class="control-label"></label>
                <input asp-for="Blog.User" class="form-control" />
                <span asp-validation-for="Blog.User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Title" class="control-label"></label>
                <input asp-for="Blog.Title" class="form-control" />
                <span asp-validation-for="Blog.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Text" class="control-label"></label>
                <textarea asp-for="Blog.Text" class="form-control"></textarea>
                <span asp-validation-for="Blog.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.LikeCount" class="control-label"></label>
                <input asp-for="Blog.LikeCount" class="form-control" />
                <span asp-validation-for="Blog.LikeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCategoryIds" class="control-label"></label>
                <select asp-for="SelectedCategoryIds" asp-items="Model.Categories" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
