# Build results
bin/
obj/

# User-specific files
.vscode/
.vs/
*.user
*.suo

# Log files
*.log

# IIS Express local server configuration
/.vs/
/*.config
/App_Data/

# Packages
*.nupkg
*.snupkg
/Packages/

# Environment files
.env

# JetBrains Rider settings
.idea/

# Dependency cache
node_modules/
wwwroot/lib/

# Temporary files
*.tmp
*.temp
*.pid
