# Build results
MVCVideoGuide/MVCVideoGuide/bin/
MVCVideoGuide/MVCVideoGuide/obj/

# User-specific files
MVCVideoGuide/MVCVideoGuide/.vscode/
.vs/
MVCVideoGuide/MVCVideoGuide/.vs/
MVCVideoGuide/MVCVideoGuide/*.user
MVCVideoGuide/MVCVideoGuide/*.suo

# Log files
MVCVideoGuide/MVCVideoGuide/*.log

# IIS Express local server configuration
MVCVideoGuide/MVCVideoGuide/.vs/
/.vs/
/*.config
/App_Data/

# Packages
*.nupkg
*.snupkg
/Packages/

# Environment files
MVCVideoGuide/MVCVideoGuide/.env

# JetBrains Rider settings
MVCVideoGuide/MVCVideoGuide/.idea/

# Dependency cache
node_modules/
MVCVideoGuide/MVCVideoGuide/wwwroot/lib/

# Temporary files
*.tmp
*.temp
*.pid
