@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/fetchAPI.js"></script>
<script src="~/js/site.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="download(filename, text)()">Write Blog</button>
    <input type="text" name="Cost" />
</div>



