@model List<string>
@{
    ViewData["Title"] = "See Blogs";
}
<h1>@ViewData["Title"]</h1>
<p>Here are all the blog (Number of blogs: @Model.Count)</p>
<p> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SeeBlogsDate">See Date</a> </p>

<ul>
    @foreach(string blog_instance in Model)
    {
        <li>
            <p>@blog_instance </p>
        </li>
    }
</ul>