@model List<Blog>

<h1>Here are the available products: @Model.Count</h1>

<ul>
    @foreach(Blog blog_instance in Model)
    {
        <li>
            <p>@blog_instance.Title  @blog_instance.Title</p>
        </li>
    }
</ul>