<h2>Type in blog information here:</h2>

<form method="post">
    <label> User: </label>
    <br />
    <input type="text" name="User" />
    <br />
    <label> Blog title: </label>
    <br />
    <input type="text" name="Title" />
    <br />
    <label> Blog text: </label>
    <br />
    <input type="text" name="BlogText" />
    <br />
    <input type="submit" value="Publish blog" />
</form>